body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: linear-gradient(90deg, #0B4A63, rgb(63, 92, 107));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Alternate Logo CSS (logo.jpg)*/

/* .logo{
    width: 150px;
    height: 150px;
    border-radius: 30%;
    border: 1px solid #08484B;
    } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
